[Unit]
Description=Spring Boot Application
After=network.target

[Service]
User=ubuntu
ExecStart=/usr/bin/java -jar /home/spring-data-jpa-postgres.jar \
  --server.port=8087 \
  --spring.datasource.url=jdbc:postgresql://localhost:5432/spring_boot_pos \
  --spring.datasource.username=remis \
  --spring.datasource.password=remis
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target